// font //
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');


///////////
// 変数　//
//////////
$t-color: #707070;

///////////////
//   mixin   //
///////////////
    
@mixin pc {
    @media screen and (min-width: 960px) {
        @content
    }
};

@mixin tab {
    @media screen and (max-width:959px) {
        @content
    }    
};

@mixin sp {
    @media screen and (max-width: 600px) {
        @content
    }
};

//////////////
//   共通   //
//////////////

html {
    font-size: 62.5%; //10px
}

body {
    width: 100%;
    font-size: 12px;
    line-height: 1.67;
}

.title {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    letter-spacing: 5.4px;
    color: $t-color;
    @include tab {
        margin-bottom: 50px;
    }
    &:after {
        display: inline-block;
        content: "";
        border-top: 1px solid #707070;
        width: 5em;
        margin-left: 0.5em;
        @include tab {
            width: 3em;
        }
    }
}

.inner {
    width: 100% - 9.7 * 2;
    margin: 0 auto;
    @include sp {
        width: 90%;
    }
}