html {
  font-size: 62.5%;
}

body {
  width: 100%;
  font-size: 12px;
  line-height: 1.67;
}

.title {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  letter-spacing: 5.4px;
  color: #707070;
}
@media screen and (max-width: 959px) {
  .title {
    margin-bottom: 50px;
  }
}
.title:after {
  display: inline-block;
  content: "";
  border-top: 1px solid #707070;
  width: 5em;
  margin-left: 0.5em;
}
@media screen and (max-width: 959px) {
  .title:after {
    width: 3em;
  }
}

.inner {
  width: 80.6%;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  padding-top: 70px;
  padding-left: 80px;
  position: absolute;
  z-index: 10;
}
@media screen and (max-width: 959px) {
  header {
    background-color: #fff;
    height: 70px;
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 21px;
  }
}

.ham {
  display: none;
}
@media screen and (max-width: 959px) {
  .ham {
    width: 20px;
    height: 14px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .ham span {
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: #3B4043;
  }
  .ham span:last-child {
    width: 70%;
  }
}

.hd-logo {
  font-size: 3.8rem;
  margin-right: 20px;
  letter-spacing: 3.8px;
}
@media screen and (max-width: 600px) {
  .hd-logo {
    font-size: 2.2rem;
    letter-spacing: 2.2;
  }
}

@media screen and (max-width: 959px) {
  .pc-navmenu {
    display: none;
  }
}

.pc-navmenu ul {
  display: flex;
}
.pc-navmenu ul li {
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 1.8px;
  margin-right: 25px;
}
.pc-navmenu ul li:not(:first-child) {
  color: #707070;
}
.pc-navmenu ul li:nth-child(4) {
  margin-right: 0;
}

.menu-border {
  border-bottom: 1px solid #000;
  width: 45px;
}

.first-v {
  width: 100%;
  height: 100vh;
  background-image: url(../img/component.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  position: relative;
}
@media screen and (max-width: 959px) {
  .first-v {
    background-size: cover;
    overflow: hidden;
  }
}

.catch {
  position: absolute;
  top: 316px;
  left: 142px;
}
@media screen and (max-width: 959px) {
  .catch {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
  }
}
.catch h2 {
  font-size: 3.8rem;
  margin-bottom: 48px;
  font-family: "MS Mincho", "Hiragino Mincho Pro", serif;
  letter-spacing: 3.8px;
}
@media screen and (max-width: 959px) {
  .catch h2 {
    font-size: 2.3rem;
    letter-spacing: 2.3;
    color: white;
  }
}
.catch p {
  font-size: 3.8rem;
  font-family: Zapfino, cursive;
  letter-spacing: 3.8px;
}
@media screen and (max-width: 959px) {
  .catch p {
    height: 95px;
    font-size: 2.8rem;
    letter-spacing: 2.8;
    color: white;
  }
}

.concept {
  height: 967px;
  background: linear-gradient(180deg, #A193861F 0%, #A193861F 40%, #A1938689 40%, #A1938689 60%);
}
@media screen and (max-width: 959px) {
  .concept {
    height: 710px;
    background: linear-gradient(180deg, #A193861F 0%, #A193861F 24%, #A1938689 24%, #A1938689 76%);
  }
}
.concept-wrap {
  padding-top: 260px;
  margin: 0 auto;
}
@media screen and (max-width: 959px) {
  .concept-wrap {
    padding-top: 60px;
  }
}
.concept h2 {
  color: white;
  font-size: 4rem;
  letter-spacing: 16px;
  font-family: "MS Mincho", "Hiragino Mincho Pro", serif;
}
@media screen and (max-width: 959px) {
  .concept h2 {
    font-size: 1.8rem;
    letter-spacing: 7.2px;
  }
}
@media screen and (max-width: 959px) and (max-width: 959px) {
  .concept h2 {
    padding-top: 50px;
  }
}

.concept p {
  color: white;
  width: 46%;
  padding-top: 70px;
  font-size: 1.6rem;
  letter-spacing: 1.6px;
}
@media screen and (max-width: 959px) {
  .concept p {
    width: 100%;
    padding-top: 18px;
  }
}
.concept__img {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  overflow: hidden;
}
.concept__img img {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 959px) {
  .concept__img img {
    min-width: 164px;
    min-height: 205px;
    width: 80.6%;
  }
}
@media screen and (max-width: 959px) {
  .concept__img {
    display: flex;
  }
}

.img1 {
  margin-right: 5px;
}

.concept-text {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 959px) {
  .concept-text {
    display: flex;
    flex-direction: column;
  }
}

.menu {
  padding-top: 260px;
  padding-bottom: 70px;
}
@media screen and (max-width: 959px) {
  .menu {
    padding-top: 60px;
    padding-bottom: 0;
  }
}

.menu-wrap {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 600px) {
  .menu-wrap {
    flex-direction: column;
  }
}

.menu-item {
  width: 27%;
}
@media screen and (max-width: 600px) {
  .menu-item {
    width: 100%;
  }
}
.menu-item h2 {
  font-size: 3rem;
  letter-spacing: 3px;
  font-family: "Roboto Mono for Powerline";
  text-align: center;
}
@media screen and (max-width: 959px) {
  .menu-item h2 {
    font-size: 2rem;
    letter-spacing: 2px;
  }
}
@media screen and (max-width: 600px) {
  .menu-item h2 {
    font-size: 3rem;
    font-weight: bold;
    text-align: left;
  }
}
.menu-item__img {
  width: 100%;
}

.menu-img {
  width: 100%;
}

.menu-content {
  font-size: 1.6rem;
  letter-spacing: 1.6px;
  text-align: left;
  padding: 34px 10px;
}

.price {
  font-size: 1.6rem;
  letter-spacing: 1.6px;
  float: right;
}
@media screen and (max-width: 959px) {
  .price {
    margin-bottom: 63px;
  }
}

.access {
  background-color: #A193861F;
  padding-top: 260px;
  padding-bottom: 70px;
}
@media screen and (max-width: 600px) {
  .access {
    padding-top: 60px;
  }
}

.access-title {
  padding-left: 100px;
}
@media screen and (max-width: 600px) {
  .access-title {
    padding-left: 20px;
  }
}

.access-info {
  display: flex;
}
@media screen and (max-width: 600px) {
  .access-info {
    display: flex;
    flex-direction: column-reverse;
  }
}

.access-info-content {
  width: 70%;
  background-color: #D0C5BA;
  padding-top: 100px;
  padding-left: 100px;
}
@media screen and (max-width: 600px) {
  .access-info-content {
    width: 100%;
    padding-top: 30px;
    padding-left: 20px;
  }
}
.access-info-content p {
  color: white;
  font-size: 1.6rem;
  letter-spacing: 1.6px;
}
.access-info-content p:not(:last-child) {
  margin-bottom: 24px;
}
@media screen and (max-width: 600px) {
  .access-info-content p:last-child {
    padding-bottom: 60px;
  }
}

.shopname {
  font-size: 2.4rem;
  letter-spacing: 2.4px;
  color: #00000038;
  margin-bottom: 30px;
}

@media screen and (max-width: 600px) {
  .map {
    height: 231px;
  }
}

footer {
  height: 340px;
  position: relative;
}
@media screen and (max-width: 959px) {
  footer {
    height: 240px;
  }
}

.ft-line {
  color: #70707036;
  width: 80.6%;
  margin: 0 auto;
  position: absolute;
  top: 44%;
  left: 8.3%;
}
@media screen and (max-width: 959px) {
  .ft-line {
    top: 22%;
    left: 10%;
  }
}

.ft-inner {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 67%;
  left: 8%;
}
@media screen and (max-width: 959px) {
  .ft-inner {
    top: 45%;
    height: 117px;
    flex-direction: column-reverse;
  }
}

.ft-info {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 959px) {
  .ft-info {
    justify-content: space-between;
  }
}

.ft-logo {
  font-size: 3.2rem;
  letter-spacing: 3.2px;
  color: #7070704D;
  margin-right: 26px;
}
@media screen and (max-width: 959px) {
  .ft-logo {
    font-size: 1.8rem;
    letter-spacing: 1.8px;
    margin-right: 0;
  }
}

.fa-twitter {
  margin-right: 9px;
}

.ft-icon {
  width: 20px;
  height: 20px;
}

.btn {
  width: 185px;
  height: 37px;
  position: absolute;
  top: 70%;
  right: 11%;
  background-color: #FFFFFF;
  border: 1px solid #707070;
}
@media screen and (max-width: 959px) {
  .btn {
    top: 47%;
    left: 40%;
  }
}
@media screen and (max-width: 600px) {
  .btn {
    top: 47%;
    left: 27%;
  }
}
.btn p {
  font-size: 1.8rem;
  text-align: center;
  color: #707070;
  padding: auto 40px;
}

/*# sourceMappingURL=style.css.map */
